.container {
  width: 415px;
  height: 60px;
  border-radius: 5px;
  margin: auto;
  margin-top: 12px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.title {
    flex-grow: 1;
}
.title > input {
  width: 97%;
  background: none;
  outline: none;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.config > button {
  background: transparent;
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  overflow: hidden;
  border-radius: 12px;
}

.config > button:hover {
  background: rgba(0,0,0,0.03);
}

.buttonSubmitEdit {
  background: white;
  padding: 5px 12px;
  color: green;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

